{% extends "siga/base.html" %}
{% block content %}
    <style>
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    </style>
    <div class="container">
      <form class="form-signin" method="POST">
          {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        {% if errado %}
            <p>nome do aluno ou senha errado</p>
        {% endif %}
        <label for="text" class="sr-only">Nome do Aluno {{nome}}</label>
        <input name="nome" type="text" id="inputUser" class="form-control" placeholder={{nome}} required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="senha" type="password" id="inputPassword" class="form-control" placeholder={{senha}} required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
        
    </div>
{% endblock %}